.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 5vh;
}

.app-content {
  height: 90vh;
  display: grid;
  grid-template-columns: 30vw 30vw;
  grid-gap: 30px;
}

.data-container {
  height: 90vh;
  background-color: antiquewhite;
  min-width: 300px;
  border-radius: 10px;
  padding: 0 10px;
  overflow-y: auto;
}

input[type='checkbox'], label {
  user-select: none;
}